.HIW-bottom-section-container {
    display: flex;
    background-color: #4b6b95;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.HIW-bottom-section-paragraph {
    padding: 50px;
}

.react-logo {
    padding: 50px;
    height: 300px;
    width: 300px;
}