.search-bar-container {
    display: flex;
    padding: 10px;
    margin: 20px;
    justify-content: center;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 10px;
}

.search-icon {
    display: flex;
    margin-top: 10px;
}

.search-bar {
    width: 80%;
    height: 2.8rem;
    background: white;
    outline: none;
    border: none;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
}
