.search-bar-container {
    display: flex;
    padding: 5px;
    margin: 20px;
    justify-content: center;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 10px;
}

.search-icon {
    display: flex;
    margin-top: 15px;
    color: gray;
}

.search-bar {
    width: 80%;
    height: 2.8rem;
    background: white;
    outline: none;
    border: none;
    font-size: 1rem;
    margin-top: 5px;
}
