.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    height: 400px;
    width: 300px;
    margin: 10px;
    position: relative;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-title {
    overflow: hidden;
    text-align: center;
    height: 30px;
}

.card-info {
    text-align: left;
}

.card-content {
    height: 20vh;
    overflow: hidden;
}

.actions {
    border-top: 1px solid lightblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
}

.page-selector {
    display: flex;
}