.primary-search-container {
    height: 10px;
    display: flex;
    background-color: #255390;
    padding: 50px;
}

.page-number {
    display: flex;
    justify-content: center;
}

.search-page-body {
    display: flex;
    width: 100%;
}